@import '../../style/mixin.scss';

.section-banner{
    @include display-flex(column, start, start, 0);
    width: 1440px;
    height: 395px;
    margin: auto;
    font-weight: 600;
    color: #FFFFFF;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 85.04%), url('../../assets/images/Banner.png');
    background-size: 1440px;
    background-repeat: no-repeat;

    .info{
        @include display-flex(column, end, start, 0);
        padding: 50px 0 40px 88px;

        h1{
            width: 822px;
            margin: 0;
            font-size: 48px;
            font-weight: 600;
            color: #FFFFFF;
        }
    
        h2{
            margin: 0;
            font-size: 36px;
            font-weight: 600;
        }
    
        button{
            width: 227px;
            height: 60px;
            margin-top: 40px;
            border: none;
            border-radius: 5px;
            font-size: 18px;
            font-weight: 600;
            background-color: #F71963;
            color: #FFFFFF;
        }
    }    
}
