.section-banner{
    height: 395px;
    padding: 20px 80px;
    font-weight: 600;
    color: #FFFFFF;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 85.04%);
    z-index: 99;

    h1{
        width: 822px;
        font-size: 48px;
    }

    h2{
        font-size: 36px;
    }

    button{
        width: 227px;
        height: 60px;
        border: none;
        border-radius: 5px;
        font-size: 18px;
        background-color: #F71963;
        color: #FFFFFF;
    }

    
}

.banner{
    position: absolute;
    top: 145.6px;
    left: 0;
    width: 1440px;   
    height: 390px;
    z-index: -1;
}
